/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-rubik), serif;
}

p {
  font-family: var(--font-lato), monospace;
}

* {
  scroll-behavior: smooth;
}
@layer base {
  :root {
    --background: 243 33% 25%;
    --foreground: 0 0% 100%;
    --muted: 243 12% 29%;
    --muted-foreground: 243 12% 79%;
    --popover: 243 33% 22%;
    --popover-foreground: 0 0% 100%;
    --card: 243 33% 23%;
    --card-foreground: 0 0% 100%;
    --border: 243 23% 30%;
    --input: 243 23% 33%;
    --primary: 50 100% 49%;
    --primary-foreground: 50 100% 9%;
    --secondary: 50 30% 25%;
    --secondary-foreground: 50 30% 85%;
    --accent: 243 33% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 82% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 50 100% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 243 33% 25%;
    --foreground: 0 0% 100%;
    --muted: 243 12% 29%;
    --muted-foreground: 243 12% 79%;
    --popover: 243 33% 22%;
    --popover-foreground: 0 0% 100%;
    --card: 243 33% 23%;
    --card-foreground: 0 0% 100%;
    --border: 243 23% 30%;
    --input: 243 23% 33%;
    --primary: 50 100% 49%;
    --primary-foreground: 50 100% 9%;
    --secondary: 50 30% 25%;
    --secondary-foreground: 50 30% 85%;
    --accent: 243 33% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 82% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 50 100% 49%;
  }
}
